.hidden{
	display: none;
}

.columns{
}

body{
	margin:	2em;
}

img{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.content{
	margin-top: 3em;
}

.dialog{
	width: 200px;
	text-align: center;
}

.header{
	color: #1EAEDB;
}
