html
	head
		doctype html
		title= title

		// FONT
		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")

		script(src="https://code.jquery.com/jquery-1.10.2.js")
		script(src="js/custom.js")

		// CSS
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/skeleton.css")
		// link(rel="stylesheet" href="css/custom.css")

	body
		.header
			h1=h1

		.content
			.container
				.row
					input(type="password" name="account_password" id="account_password" value="password" placeholder="Account password")
					button(class="button-primary" id="greet") Greet